.footer-container-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}

.ftcontainer-2{
    display: flex;
    flex-direction: row;    
}

.social-links{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-links h5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
}
.social-links ul{
    list-style: none;
}
.social-links ul li a{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: blueviolet;
}

.services h5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
}
.services{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services ul{
    list-style: none;
}
.services ul li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: blueviolet;
}

.page-link h5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
    
}
.page-link{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.page-link ul{
    list-style: none;
}
.page-link ul li a{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: blueviolet;
}

.ftcontainer-1 a{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}



@media screen and (max-width: 480px) {
    .footer-container-1{
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: center;
    }
    .ftcontainer-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .ftcontainer-2 div{
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 30px;
    }
    .ftcontainer-2 div h5{
        margin-left: 40px;
        margin-bottom: 20px;
    }
    .social-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}